
@{
    ViewBag.Title = "PasswordGenerator";
}

<h2>PasswordGenerator</h2>
@{Html.BeginForm("PasswordGenerator", "Account", FormMethod.Post);
        <div >
            @Html.Label("LastName")
            @Html.TextBox("LastName", null, new { @class = "textbox", placeholder = "LastName" })
        </div >
        <div >
            @Html.Label("FavoriteColor")
            @Html.TextBox("FavoriteColor", null, new { @class = "textbox", placeholder = "FavoriteColor" })
        </div >
        <div >
            @Html.Label("BirthYear")
            @Html.TextBox("BirthYear", null, new { @class = "textbox", placeholder = "BirthYear" })
        </div >
        @*<div>
                @Html.Label("ProgramOptions")
                @Html.DropDownList("ProgramOptions",new SelectList(Enum.GetValues(typeof())),"Select ProgramName",new { @class="form control"})
                })
            </div>*@
        <div >
            <input type = "submit" value = "CreateAccount" class="btn btn-default" />
        </div>

        Html.EndForm();
    }

